---
layout: default
---


<div class="jumbo-container">
  <div class="jumbo-item">
    <span class="jumbo-title">Building cool tools<br> driving too fast<br> and documenting the chaos</span>
  </div>
</div>


<div class="container headline-container">
<div class="row">
  <div class="col-sm-12">
    <div class="headline-item">

        {% for post in site.posts %}
        {% if post.state == 'inprogress' %}
    <h2 class="headline-header-text">  <a class="headline-post" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    <article>
      {{ post.content }}
    </article>


        {% endif %}
      {% endfor %}

    </div>
  </div>
</div>


  <div class="row">
    <div class="col-sm-6">
      <div class="headline-item">
        <h2 class="headline-header-text">to do</h2>
          <ul class="post-list">
          {% for post in site.posts reversed sort_by:priority %}
          {% if post.state == 'todo' %}
          <li>
            {{ post.priority }}
          <a class="headline-post" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {{ post.excerpt }}
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="headline-item">
        <h2 class="headline-header-text">done</h2>
        <ul class="post-list">
        {% for post in site.posts %}
        {% if post.state == 'done' %}
        <li>
          {{ forloop.index }}
        <a class="headline-post" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {{ post.excerpt }}
        </li>
        {% endif %}
      {% endfor %}
      </ul>
      </div>


    </div>
  </div>
  <!--
  <div class="home">







  <h1 class="page-heading">Posts</h1>



</div> -->
