.icon svg{
  width:16px;
  height:16px;
}


.site-footer{
  padding-top:10px;
  background:rgb(223, 223, 223);
  border-top: 2px rgb(171, 171, 171) solid;
 width:100%;
}

.site-footer .container, .site-footer .container .row{
  height:155px;
}

.social-media-list{
  list-style:none;
  text-align:center;
}
